<h1> Home page la</h1>


<% @games.each do |game| %>
  <p> 
   Title: <%= game.title %> 
    <%= number_to_currency(game.cost / 100) %> 
    Platform: <%= game.platform %> 
    <%= game.image %> 
    Posted_by: <%= game.posted_by %> 
    Date: <%= game.created_at %> 
  </p>
<% end %>