<%= render 'shared/navbar' %>
<h1> Home page la</h1>


<% @games.each do |game| %>
  <p> 
    Title: <%= game.title %> 
      <%= number_to_currency(game.cost / 100) %> 
      Platform: <%= game.platform %> 
      <%= image_tag game.image if game.image.attached? %> 
      Posted_by: <%= game.posted_by %> 
      Date: <%= game.created_at %> 
  </p>
<% end %>