<div class="card" style="width: 18rem;">
  <img class="card-img-top" alt='picture of' <% game.title %><%= image_tag game.image if game.image.attached?%>
  <div class="card-body">
    <h5 class="card-title"><%= link_to game.title, game_path(game.id)%></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: $<%= (game.cost / 100).round(2)%></li>
    <li class="list-group-item">Console: <%= game.platform %></li>
    <li class="list-group-item"><%= link_to game.posted_by, game.user.username %></li>
  </ul>
  <div class="card-body">
    <%= link_to 'Add to cart', carts_path(game_id: game.id), method: :post %>
    <a href="#" class="card-link">Add to wishlist</a>
  </div>
</div>