
<% if game.in_cart != true %>
  <div class="card" style="width: 18rem;">
    <% if game.image.attached? %>
     <img class="card-img-top" alt='picture of' <% game.title %><%= image_tag game.image %>
    <% else %>
      <img class="card-img-top" alt='Default image' <%= image_tag "default_image.png" %> 
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to game.title, game_path(game.id)%></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: $<%= (game.cost / 100).round(2)%></li>
      <li class="list-group-item">Console: <%= game.platform %></li>
      <li class="list-group-item"><%= link_to game.posted_by, game.user.username %></li>
    </ul>
         <% if current_user.is_admin == true%>
       <div class="card-body">
        <%= link_to 'Add to cart', carts_path(game_id: game.id), method: :post %>
        </div>
        <% if game.in_wishlist != true %>
         <div class="card-body">
          <%= link_to 'Add to wishlist', wishlists_path(game_id: game.id), method: :post %>
        </div>
        <% else %>
        <div class="card-body">
          Item is in your wishlist! :) "Add Remove button here"
        </div>

        <% end %>
        <div class="card-body">
        <div class="show-edit-delete">
          <%= link_to "Edit", edit_game_path(game.id) %>
          <%= link_to "Delete", game_path(game.id), method: :delete %>
        </div>

      <% else %>
      <% if can? :edit, game %>
        <div class="card-body">
          <div class="show-edit-delete">
            <%= link_to "Edit", edit_game_path(game.id) %>
            <%= link_to "Delete", game_path(game.id), method: :delete %>
          </div>
        </div>
      <% else %>
        <div class="card-body">      
          <%= link_to 'Add to cart', carts_path(game_id: game.id), method: :post %>
        </div>
        <div class="card-body">
          <%= link_to 'Add to wishlist', wishlists_path(game_id: game.id), method: :post %>
        </div>

      <% end %>
    <% end %>
  </div>
<% end %>


