<h1> Game show page </h1>

  <p> 
   Title: <%= @game.title %> 
    <%= number_to_currency(@game.cost / 100) %> 
    Platform: <%= @game.platform %> 
    <%= @game.image %> 
    Posted_by: <%= @game.posted_by %> 
    Date: <%= @game.posted_on %> 
  </p>

<%= render 'shared/form', game: @game %>
<%= link_to "Back", :back %>