<%= render 'shared/navbar' %>
<h1> Game show page </h1>

  <p> 
  <%= image_tag @game.image if @game.image.attached? %>
   Title: <%= @game.title %> 
    <%= number_to_currency(@game.cost / 100) %> 
    Platform: <%= @game.platform %> 
    Posted_by: <%= @game.posted_by %> 
    Date: <%= @game.created_at %> 
  </p>




 <div class="show-edit-delete">
   <% if can? :edit, @game %>
     <%= link_to "Edit", edit_game_path(@game.id) %>
     <%= link_to "Delete", game_path(@game.id), method: :delete %>
   <% end %>
    <%= link_to 'Add to cart', carts_path(game_id: @game.id), method: :post %>
    <%= link_to "Pay Deposit", "", id: "stripe" %>
   <%= link_to "Back", :back %>
 </div>

 <%= javascript_pack_tag "stripe" %>