<%= render 'shared/navbar' %>
<h1> Cart </h1>


    <% @cart.each do |game| %>
  <ul>
     <li>Title:<%= game.title %></li>
     <li>Cost: <%= number_to_currency(game.cost / 100) %></li>

  </ul>
    <% end %>

<%= link_to "Checkout", "", id: "stripe" %> 
<%= javascript_pack_tag "stripe" %>  


